<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='try_css.css')}}">
    <a href="https://www.google.co.jp">グーグルへのリンク</a>
    <script src={{ url_for("static", filename="try_js.js") }}></script>

</head>
<body>
    <table id="table_id">

        <tr>
        <th>見出し1</th>
        <th>見出し2</th>
        <th>見出し3</th>
        ◆</tr>
        ◆<tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容3</td>
        ・</table>
        <input type="text" name="text" value="テキスト">
<input type="button" name="button" value="ボタン" onclick="change_table();">
<input type="checkbox" name="check" value="チェックボックス1">
<input type="radio name"="radio" value="ラジオボタン1">
<input type="submit" name"="submit" value="送信">
<select name="select">
    <option name="option1">選択１</option>
    <option name="option2">選択２</option>
    <option name="option3">選択３</option>
    </select>
    <form method="POST" action="http://127.0.0.1:5000/show_data">
        <input type=text name="text_input" value="">
        <input type=submit name="submit" value="送信">
        </form>
    


        
</body>
</html>
